.custom-form-field {
  font-size: 1.2em;
  color: #123456;
  width: 15rem;
  height: 4rem;
  background-color: #fff;

  .mat-form-field-wrapper {
    padding-bottom: 0.75em;
  }

  .mat-form-field-flex {
    border-bottom: 2px solid #123456;
  }

  .mat-form-field-label {
    color: #123456;
  }

  .mat-hint {
    color: #654321;
  }
}

#locationInput {
  height: 3rem;
}

#personInput {
  height: 3rem;
}