<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="layout-assets/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Luxury Living</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">For Your Special Journey
                            Perfect Center</h1>
                        <a href="#hotelListSection"
                            class="btn btn-outline-warning py-md-3 px-md-5 animated slideInRight">Book A Room</a>
                    </div>
                </div>
            </div>
           
            <div class="carousel-item">
                <img class="w-100" src="layout-assets/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Luxury Living</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">For Your Special Journey
                            Perfect Center</h1>
                        <a href="#hotelListSection"
                            class="btn btn-outline-warning py-md-3 px-md-5 animated slideInRight">Book A Room</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <form [formGroup]="searchFormGroup" (ngSubmit)="searchHotels();searchByPerson();searchByDate()">
                <div class="row g-2">

                    <div class="col-md-10">
                        <div class="row g-2">

                            <div class="col-md-3">
                                <div class="location" id="location" data-target-input="nearest">
                                    <input type="text" id="locationInput" formControlName="location"
                                        class="form-control  " placeholder="Location" />

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="date" id="date1" data-target-input="nearest">
                                  <input type="date" class="form-control datetimepicker-input" formControlName="startDate"
                                    placeholder="Check in" />
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="date" id="date2" data-target-input="nearest">
                                  <input type="date" formControlName="endDate" class="form-control datetimepicker-input"
                                    placeholder="Check out" />
                                </div>
                              </div>
                            <div class="col-md-3">
                                <select class="form-select" formControlName="person">
                                    <option value="" disabled selected hidden>Person </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-warning w-100 h-95"
                            >Submit</button>
                    </div>
                </div>
            </form>
            
            

        </div>
     
    </div>

</div>



<app-hotel-list [location]="location" [startDate]="selectedStartDate!" [endDate]="selectedEndDate!" [person]="person"></app-hotel-list>



<app-arrow-up></app-arrow-up>