body{
  margin-top:20px;
  background:#483D8B;
}

.card-body {
  align-items: center; /* İçeriği dikey olarak ortala */
}

.icon-lg {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  background-color: #007bff; /* Arka plan rengi */
  color: white; /* İkon rengi */
  border-radius: 50%; /* Yuvarlak köşe */
  margin-right: 10px; /* Sağ kenar boşluğu */
}

#btn-cst {
  background: black;
  text-align: center;
  width: auto; /* İlgili düğmenin genişliğini otomatik ayarla */
  padding: 10px 20px; /* Düğme içeriğinin iç kenar boşluğunu ayarla */
  border-radius: 0.75rem; /* Düğme köşelerini yuvarla */
  transition: background-color 0.3s ease; /* Geçiş efekti ekle */
}

#btn-cst:hover {
  background-color: #333; /* Düğme üzerine gelindiğinde arka plan rengini değiştir */
}

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
a {
  text-decoration:none;    
}

.desc{
  color:#fff;    
}