.pagination-outer {
    text-align: center;
}

.pagination {
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
}

.pagination li a.page-link {
    color: #fff;
    background-color: #2d3436;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0 7px;
    border: none;
    border-radius: 0;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:focus {
    color: #fff;
    background-color: orange;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}

.pagination li a.page-link:before {
    content: '';
    border: 3px solid orange;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -5px;
    top: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    transition: all 0.3s ease 0s;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:before {
    visibility: visible;
    opacity: 1;
    transform: perspective(800px) rotateX(180deg);
}

@media only screen and (max-width: 480px) {
    .pagination {
        font-size: 0;
        display: block;
    }

    .pagination li {
        display: inline-block;
        margin: 0 0 10px;
    }
}