<div class="bg-light container-xxl p-5">
  <div class="container-fluid pb-5 wow fadeIn mt-4" data-wow-delay="0.1s">
    <div class="container">
      <div class="bg-white shadow" style="padding: 35px;">
        <form [formGroup]="filterForm">
          <div class="row g-2">

            <div class="col-md-10">
              <div class="row g-2">
                <div class="col-md-3">
                  <div class="date" id="date1" data-target-input="nearest">
                    <input type="date" class="form-control datetimepicker-input" formControlName="checkIn"
                      placeholder="Check in" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="date" id="date2" data-target-input="nearest">
                    <input type="date" class="form-control datetimepicker-input" formControlName="checkOut"
                      placeholder="Check out" />
                  </div>
                </div>
                <div class="col-md-3">
                  <select class="form-select" formControlName="roomCapacity">
                    <option value="" disabled selected hidden>Person Count</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>

                </div>

              </div>

            </div>

            <div class="col-md-2">
              <button type="submit" class="btn btn-primary w-100" (click)="onFilterFormSubmit()">Submit</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <app-hotel-details-list [selectedHotel]="selectedHotel" [filterForm]="filterForm"></app-hotel-details-list>

  <app-reviews></app-reviews>

  <app-arrow-up></app-arrow-up>
</div>