.container {
    max-width: 900px;
}

.card-header {
    background-color: #007bff;
}

.card-header h3 {
    margin: 0;
}

.card-body {
    padding: 20px;
}

h5 {
    margin-bottom: 15px;
}

.list-group-item {
    margin-bottom: 10px;
}
