<div class="container">
    <section class="section pt-0 mt-5">
      <div class="container">
        <div class="row gy-4 justify-content-center">
          <div class="col-12 mb-5">
            <div class="card">
              <div class="card-body d-flex">
                <div class="icon-lg bg-primary rounded-3 text-white"><i class="fa fa-question-circle"></i></div>
                <div class="ps-3 col">
                  <h5 class="h6 mb-2"><a class=""><strong>Booking ID:</strong> {{ booking?.id }} <strong>- Hotel:</strong> {{ booking?.hotel?.name }}</a></h5>
                  <p class="m-0"><strong>Reservation Date:</strong> {{ booking?.startDate }} / {{ booking?.endDate }}</p>
                  <p class="m-0"><strong>Total Cost:</strong> {{ booking?.totalCost }}</p>
                </div>
                <a class="btn btn-outline-warning rounded-3 px-4 py-2 m-2" id="btn-cst"
                  routerLink="/booking-detail" (click)="bookingDetailClick()">Booking Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>