<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
<div class="container-fluid pb-5">
  <div class="row g-5">
    <div class="col-md-6 col-lg-4">
      </div>
      <section class="d-flex justify-content-between p-4"
      style="background-color: #04011434"><a href="#" class="no-underline" style="font-size: 5px;"><h1 class="text-warning text-uppercase me-5">Booking</h1></a>
    <div class="d-flex align-items-center justify-content-end">
    <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/memrobincen/"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/aslisoyluu/"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/zehra-intizamoglu-66bb1715b/"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/%C5%9Fevval-iclal-cebecio%C4%9Flu/"><i class="fab fa-linkedin-in"></i></a>
</div>
</section>

          <div class="col-md-6 col-lg-3">
              <h6 class="section-title-none text-md-start text-warning text-uppercase mb-4">Contact</h6>
              <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Kavacık, Rüzgarlıbahçe Mah. Çampınarı Sok. No:4 Smart Plaza B Blok Kat:3 34805, Beykoz/İstanbul</p>
              <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0216 331 48 00</p>
              <p class="mb-2"><i class="fa fa-envelope me-3"></i>infoexample.com</p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <div class="row gy-5 g-4">
                  <div class="col-md-6">
                      <h6 class="section-title-none text-warning text-uppercase mb-4 ">Company</h6>
                      <a class="btn btn-link" routerLink="about">About Us</a>
                      <a class="btn btn-link " routerLink="contact">Contact Us</a>
                      <a class="btn btn-link " routerLink="privacypolicy">Privacy Policy</a>
                      <a class="btn btn-link " href="">Terms & Condition</a>
                      <a class="btn btn-link" href="">Support</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="copyright">
          <div class="row">
              <div class="d-flex justify-content-end ">
                  &copy; <a class="border-bottom" href="#">2024 Booking.com™</a>, All Right Reserved.



              </div>
          </div>
      </div>
  </div>
</div>
