body {
    background-color: #f8f9fa;
    padding-top: 50px;
}
.container {
    max-width: 500px;
    margin: auto;
}
.card {
    font-size: 14px; /* Kart metin boyutunu küçültmek için */
}

.card-title {
    font-size: 1.25rem; /* Kart başlığı boyutunu küçültmek için */
}

.form-group label {
    font-size: 0.875rem; /* Form etiketleri boyutunu küçültmek için */
}

.form-control {
    font-size: 0.875rem; /* Form alanları boyutunu küçültmek için */
}