<div class="container-fluid bg-dark">
<div class="container" style="background-color: rgb(216, 223, 230);">
  <h1>Privacy Policy</h1>
  <br>
  <h2>Booking için GDPR Gizlilik Politikası</h2>
  <br>
  <p>
  Booking.com'dan erişilebilen Booking sitemizde ana önceliklerimizden biri ziyaretçilerimizin gizliliğidir. Bu Gizlilik Politikası belgesi, Booking tarafından toplanan ve kaydedilen bilgi türlerini ve bunları nasıl kullandığımızı içerir.
  </p>
  <p>
  Başka sorularınız varsa veya Gizlilik Politikamız hakkında daha fazla bilgiye ihtiyacınız varsa, infoexample.com adresinden e-posta yoluyla bizimle iletişime geçmekten çekinmeyin
  </p>
  <br>
  <hr>
  <br>
  <h2>Genel Veri Koruma Yönetmeliği (GDPR)</h2>
  <br>
  <p>
  Bilgilerinizin Veri Denetleyicisiyiz.
  </p>
  <p>
  Booking: Bu Gizlilik Politikasında açıklanan kişisel bilgilerin toplanması ve kullanılmasının yasal dayanağı, topladığımız Kişisel Bilgilere ve bilgileri topladığımız özel bağlama bağlıdır:
  </p>
  <ul>
    <li>Booking'in sizinle bir sözleşme yapması gerekiyor</li>
    <li>Booking Adına bunu yapmak için izin verdiniz</li>
    <li>Kişisel bilgilerinizin işlenmesi Booking'in meşru menfaatleri</li>
    <li>Booking'in yasalara uygun olması gerekir</li>
  </ul>
  <p>
  Booking, kişisel bilgilerinizi yalnızca bu Gizlilik Politikasında belirtilen amaçlar için gerekli olduğu sürece saklayacaktır. Bilgilerinizi yasal yükümlülüklerimize uymak, anlaşmazlıkları çözmek ve politikalarımızı uygulamak için gerekli olduğu ölçüde saklayacak ve kullanacağız.
  </p>
  <p>
  Avrupa Ekonomik Alanı'nda (AEA) ikamet ediyorsanız, belirli veri koruma haklarına sahipsiniz. Hakkınızda hangi Kişisel Bilgileri tuttuğumuzdan haberdar olmak ve sistemlerimizden kaldırılmasını istiyorsanız, lütfen bizimle iletişime geçin.
  </p>
  <p>
  Belirli durumlarda, aşağıdaki veri koruma haklarına sahipsiniz:
  </p>
  <ul>
    <li>Hakkınızda sahip olduğumuz bilgilere erişme, güncelleme veya silme hakkı.</li>
    <li>Düzeltme hakkı</li>
    <li>İtiraz hakkı.</li>
    <li>Kısıtlama hakkı.</li>
    <li>Veri taşınabilirliği hakkı
    </li>
    <li>Rızayı geri çekme hakkı</li>
  </ul>
  <br>
  <hr>
  <br>
  <h3>Log Dosyaları</h3>
  <br>
  <p>
    Booking, günlük dosyalarını kullanmak için standart bir prosedür izler. Bu dosyalar, web sitelerini ziyaret ettiklerinde ziyaretçileri günlüğe kaydeder. Tüm barındırma şirketleri bunu yapar ve barındırma hizmetlerinin analitiğinin bir parçasıdır. Günlük dosyaları tarafından toplanan bilgiler arasında internet protokolü (IP) adresleri, tarayıcı türü, İnternet Servis Sağlayıcısı (ISS), tarih ve saat damgası, yönlendirme/çıkış sayfaları ve muhtemelen tıklama sayısı bulunur. Bunlar, kişisel olarak tanımlanabilir herhangi bir bilgiyle bağlantılı değildir. Bilgilerin amacı, eğilimleri analiz etmek, siteyi yönetmek, kullanıcıların web sitesindeki hareketlerini izlemek ve demografik bilgi toplamaktır.
  </p>
  <br>
  <hr>
  <br>
  <h3>Çerezler ve Web İşaretleri</h3>
  <br>
  <p>
    Diğer tüm web siteleri gibi, Booking de 'çerezler' kullanır. Bu çerezler, ziyaretçilerin tercihleri ve web sitesinde ziyaretçinin eriştiği veya ziyaret ettiği sayfalar dahil olmak üzere bilgileri depolamak için kullanılır. Bilgiler, web sayfası içeriğimizi ziyaretçilerin tarayıcı türüne ve/veya diğer bilgilerine göre özelleştirerek kullanıcıların deneyimini optimize etmek için kullanılır.
  </p>
  <br>
  <hr>
  <br>
  <h3>DoubleClick DART Çerezi</h3>
  <br>
  <p>
    Google, sitemizdeki üçüncü taraf satıcılardan biridir. Ayrıca, site ziyaretçilerimize www.booking.com ve internetteki diğer sitelere yaptıkları ziyaretlere dayalı olarak reklam sunmak için DART çerezleri olarak bilinen çerezleri kullanır. Ancak ziyaretçiler, aşağıdaki URL'deki Google reklam ve içerik ağı Gizlilik Politikası'nı ziyaret ederek DART çerezlerinin kullanımını reddetmeyi seçebilir.
  </p>
  <p>
    Sitemizdeki bazı reklamverenler çerezleri ve web işaretçilerini kullanabilir. Reklam ortaklarımız aşağıda listelenmiştir. Reklam ortaklarımızın her birinin, kullanıcı verileriyle ilgili politikaları için kendi Gizlilik Politikaları vardır. Daha kolay erişim için, aşağıdaki Gizlilik Politikalarına köprü oluşturduk.
  </p>
  <ul>
    <p>Google'da Arayın</p>
    <li><a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></li>
  </ul>
  <br>
  <hr>
  <br>
  <h3>Gizlilik Politikaları</h3>
  <br>
  <p>
    Booking'in reklam ortaklarının her biri için Gizlilik Politikasını bulmak için bu listeye başvurabilirsiniz.
  </p>
  <p>
    Üçüncü taraf reklam sunucuları veya reklam ağları, ilgili reklamlarında kullanılan çerezler, JavaScript veya Web İşaretçileri gibi teknolojileri ve Web Sitesi Adı'nda görünen ve doğrudan kullanıcıların tarayıcısına gönderilen bağlantıları kullanır. Bu gerçekleştiğinde IP adresinizi otomatik olarak alırlar. Bu teknolojiler, reklam kampanyalarının etkinliğini ölçmek ve/veya ziyaret ettiğiniz web sitelerinde gördüğünüz reklam içeriğini kişiselleştirmek için kullanılır.
  </p>
  <p>
    Booking'in üçüncü taraf reklamcılar tarafından kullanılan bu çerezlere erişimi veya kontrolü olmadığını unutmayın.
  </p>
  <br>
  <hr>
  <br>
  <h3>Üçüncü Taraf Gizlilik Politikaları</h3>
  <br>
  <p>
    Booking'in Gizlilik Politikası, diğer reklamverenler veya web siteleri için geçerli değildir. Bu nedenle, daha ayrıntılı bilgi için bu üçüncü taraf reklam sunucularının ilgili Gizlilik Politikalarına başvurmanızı tavsiye ederiz. Belirli seçeneklerden nasıl vazgeçileceğine ilişkin uygulamalarını ve talimatlarını içerebilir. Bu Gizlilik Politikalarının tam listesini ve bağlantılarını burada bulabilirsiniz: Gizlilik Politikası Bağlantıları.
  </p>
  <p>
    Bireysel tarayıcı seçenekleriniz aracılığıyla çerezleri devre dışı bırakmayı seçebilirsiniz. Belirli web tarayıcıları ile çerez yönetimi hakkında daha ayrıntılı bilgi edinmek için, tarayıcıların ilgili web sitelerinde bulunabilir. Çerezler Nedir?
  </p>
  <br>
  <hr>
  <br>
  <h3>Çocuklara Ait Bilgiler</h3>
  <br>
  <p>Önceliğimizin bir diğer parçası da interneti kullanırken çocuklar için koruma sağlamaktır. Ebeveynleri ve velileri çevrimiçi etkinliklerini gözlemlemeye, katılmaya ve/veya izlemeye ve yönlendirmeye teşvik ediyoruz.</p>
  <p>Booking, 13 yaşın altındaki çocuklardan bilerek herhangi bir Kişisel Tanımlanabilir Bilgi toplamaz. Çocuğunuzun web sitemizde bu tür bilgiler sağladığını düşünüyorsanız, derhal bizimle iletişime geçmenizi şiddetle tavsiye ederiz ve bu tür bilgileri kayıtlarımızdan derhal kaldırmak için elimizden gelenin en iyisini yapacağız.</p>
  <br>
  <hr>
  <br>
  <h3>Yalnızca Çevrimiçi Gizlilik Politikası</h3>
  <br>
  <p>
    Bu gizlilik politikası yalnızca çevrimiçi etkinliklerimiz için geçerlidir ve
    Booking'de paylaştıkları ve/veya topladıkları bilgilerle ilgili olarak web sitemizi ziyaret edenler için geçerlidir. Bu politika, çevrimdışı olarak veya bu web sitesi dışındaki kanallar aracılığıyla toplanan hiçbir bilgi için geçerli değildir.
  </p>
  <br>
  <hr>
  <br>
  <h3>Kabul</h3>
  <br>
  <p>Web sitemizi kullanarak, Gizlilik Politikamızı kabul etmiş ve Hüküm ve Koşullarını kabul etmiş olursunuz.</p>
  <br><br>
</div>
</div>


