<style>
  .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
</style>

<div id="carouselExampleIndicators" class="carousel slide container small-carousel">
  <div class="carousel-indicators">
    <button *ngFor="let item of selectedHotel?.hotelImageUrls; let i = index" type="button"
      data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i === 0"
      [attr.aria-current]="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i + 1)">
    </button>
  </div>
  <div class="carousel-inner">
    <div *ngIf="selectedHotel?.hotelImageUrls; else noImages">
      <div *ngFor="let item of selectedHotel?.hotelImageUrls; let i = index" class="carousel-item"
        [class.active]="i === 0">
        <img [src]="item.url" class="d-block w-100" alt="...">
      </div>
    </div>
    <ng-template #noImages>
      <div class="carousel-item active">
        <img src="layout-assets/img/room-3.jpg" class="d-block w-100" alt="...">
      </div>
    </ng-template>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="about-info">
  <div class="section-title mb-20px mt-2">
    <h3>{{ selectedHotel?.name }}</h3>
  </div>
</div>
<p>{{ selectedHotel?.description }}</p>
<p><strong>Popular Features</strong></p>

<div *ngIf="selectedHotel">
  <app-hotel-feature *ngFor="let hf of selectedHotel.hotelFeatures" [hotelFeature]="hf">
  </app-hotel-feature>
</div>

<div class="container">
  <h2 class="mb-4">Available Rooms</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-white bg-dark">Room Type</th>
        <th class="text-white bg-dark">Guest Count</th>
        <th class="text-white bg-dark">Price</th>
        <th class="text-white bg-dark"></th>
      </tr>
    </thead>
    <tbody>

      @if (selectedHotel && selectedHotel.rooms) {
      @for (room of selectedHotel.rooms; track $index) {
      <tr>
        <td>
          <a href="#" (click)="selectRoom(room)" data-bs-toggle="modal" data-bs-target="#carouselModal" data->{{
            room.roomType.name }}</a>
          <p>{{ room.roomType.description }}</p>

          @if (selectedHotel) {
          @for (hf of room.roomType.features; track $index) {
          <app-hotel-feature [hotelFeature]="hf"></app-hotel-feature>
          }
          }
        </td>
        <td class="td-custom">{{ room.roomType.capacity }}</td>
        <td class="td-custom"> {{ room.cost }}₺</td>
        <td class=" btn-custom">
          <a class="btn btn-dark btn-outline-warning" (click)="onBookNowClick(selectedHotel!, room)">Book Now <i
              class="bi bi-bell"></i></a>
        </td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>

<div class="modal fade" id="carouselModal" tabindex="-1" aria-labelledby="carouselModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="carouselModalIndicators" class="carousel slide container small-carousel">
          <div class="carousel-indicators" #carouselModalIndicators>

          </div>
          <div class="carousel-inner">
            @for (item of selectedRoom?.imageUrls; track $index) {
            @if ($index === 0) {
            <div class="carousel-item active">
              <img src="{{ item.url }}" class="d-block w-100" alt="...">
            </div>
            } @else {
            <div class="carousel-item">
              <img src="{{ item.url }}" class="d-block w-100" alt="...">
            </div>
            }
            }
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselModalIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselModalIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h2 class="carousel-custom-mid">{{ selectedHotel?.name }}</h2>
        <p class="text-center">{{ selectedRoom?.roomType?.name }}</p>
        <div class="modal-margin-top">
          @for (hf of selectedRoom?.roomType?.features; track $index) {
          <app-hotel-feature-for-modal [hotelFeature]="hf"></app-hotel-feature-for-modal>
          }

          <p class="modal-margin-top">{{ selectedRoom?.roomType?.description }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>