@if(hotelList){
<div class="container-xxl py-5" id="hotelListSection">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-dark text-uppercase">Our Hotels</h6>
            <h1 class="mb-5">Explore Our <span class="text-warning text-uppercase">Hotels</span></h1>
        </div>
        <div class="row g-4">
            @for (hotel of hotelList.items; track $index) {
            <app-hotel-card class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" [hotelName]="hotel.name"
                [hotelDescription]="hotel.description" [hotelStars]="hotel.starRating" [hotelData]="hotel">
            </app-hotel-card>
            }

        </div>
        <div class="mt-4">
            <app-pagination [pageIndex]="hotelList.pageIndex" [pageSize]="hotelList.pageSize"
                [totalItems]="hotelList.totalCount" (changePage)="onChangePage($event)"></app-pagination>
        </div>
        </div>
</div>
}