<div class="conteiner-fluid bg-dark">
<div class="conteiner-xxl" style="background-color: rgb(216, 223, 230);">
  <div class="text-center">
    <h1>FAQ</h1>
  </div>
  <div class="container">
  <div class="accordion accordion-flush" id="accordionFlushExample1">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <b>1-Cancellations</b>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample1">
        <div class="accordion-body">
          Yes! All cancellation fees are determined by the property and stated in the cancellation policies. You pay all additional costs to the property.
        </div>
        <div class="accordion" id="accordion-collapse collapse">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>Will I be charged if I need to cancel my reservation?</b>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                If you have a cancellation-free reservation, you will not pay a cancellation fee. If your reservation's free cancellation period has expired or your reservation has a non-refundable condition, you may be charged a cancellation fee. All cancellation fees are determined by the property. You pay the additional fees to the property.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Can I cancel or change the dates of a non-refundable reservation?</b>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Canceling Non-Refundable bookings will normally incur a fee, but you may have the option to request free cancellation when managing your booking. This will send your request to the property, and the property can decide whether or not to charge your cancellation fee. It is not possible to change the dates of non-refundable reservations, but if your request to avoid being charged is approved, it is possible to make a reservation again for the date you want.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>How can I find out if my reservation has been cancelled?</b>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Once you cancel your booking with us you should receive an email confirming this cancellation. Check your inbox and spam/ad folders. If you do not receive an email within 24 hours, please contact the property to confirm whether they have received your cancellation request.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--2-->

  <div class="accordion accordion-flush" id="accordionFlushExample2">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <b>2-Payment</b>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample2">
        <div class="accordion-body">
          <h6>Can I pay with prepayment or deposit?</h6>
          Before your stay, some of our properties may require an advance payment, also known as a deposit. This prepayment may be the total amount of the reservation or just a portion of it. The remaining amount is paid while staying at the facility.
          However, some facilities do not require any deposit and you pay the full amount at the facility during your stay. It would be best to check the payment terms in your confirmation for more information.
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>I was charged. Do I need to do anything?</b>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                In most cases no action is required on your part. As stated in the payment terms of your reservation, this transaction is probably just a down payment for all or part of the total amount.
                If there is no prepayment requirement, the property may have charged a test charge to your card. This is a temporary blocking process and is used to guarantee your reservation and is returned to you.
                However, if you think that the fee is something you did not expect, you can contact us to get support. We can only contact the property on your behalf after you submit proof of payment.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Where can I see the payment terms for my reservation?</b>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                You can see the payment terms in the price section of your reservation confirmation. This section also includes a price breakdown and accepted payment methods.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>Why do I need to provide my credit card information?</b>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Properties request this to confirm your reservation. To ensure that your credit card is valid and has sufficient funds, you may be pre-authorized or, in some cases, your information will be used to pay for your accommodation when you make your reservation.
                * Pre-authorization is a temporary blockage for a certain amount to ensure that your credit card is valid and has sufficient balance. The blocked amount will be returned to your card after a while. This time period depends on the property and your credit card company.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--3-->

  <div class="accordion accordion-flush" id="accordionFlushExample3">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <b>3-Reservation details</b>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample3">
        <div class="accordion-body">
         <h6>Is it possible to get an extra bed or cot for a child?</h6>
         This depends on the condition of the facility. Additional charges for children, including extra beds/cribs, are not included in the booking price. Please contact the property directly for this information.
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>How can I get an invoice?</b>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The property can provide you with an invoice for your stay. Please contact the property directly.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Will I pay full price for the child(ren)?</b>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                If there is an additional fee for children, this is not included in the reservation price. Please check with the property directly if and when to pay for the child(ren).
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>What is the difference between a double room and a twin room?</b>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The Double Room has a double bed, and the Twin Room has 2 single beds. If a room is named Double/Twin, it can be prepared either way. The facility will do its best to meet your needs.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--4-->

  <div class="accordion accordion-flush" id="accordionFlushExample4">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          <b>4-Pricing</b>
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample4">
        <div class="accordion-body">
          <h6>Is breakfast included in the price?</h6>
          Each room or accommodation you can book has its own breakfast requirement. If breakfast is included, you will see this on the property page when comparing different options to book it. If breakfast is not included, you can see if the property offers breakfast by checking the available features. You can also find this information in your confirmation email after making the reservation or view it in the reservations section of your account.
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>What's included in the price?</b>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                All features listed under the room or accommodation type are included in the price. You can also compare different options to book to see if other items are included, such as breakfast, taxes or service fees. You can also find this information in your confirmation email after making the reservation or view it in the reservations section of your account.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Are taxes included in room rates?</b>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This depends on the property and accommodation type, but it's easy to see what's included when comparing different options to book. Tax requirements vary from country to country; Therefore, it is always useful to check. You can also find this information in your confirmation email after making the reservation or view it in the reservations section of your account.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>Do I pay booking fees to Booking.com?</b>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                No, we do not charge any fee.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--5-->

  <div class="accordion accordion-flush" id="accordionFlushExample5">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          <b>5-Credit Cards</b>
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample5">
        <div class="accordion-body">
          <h6>Can I use a debit card to complete my reservation?</h6>
          Generally, hotels cannot accept debit cards as a reservation deposit. However, there may be some exceptions. You can see if this is possible at the time of booking.
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>Can I make a reservation for myself using someone else's card?</b>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Yes, you can, but you must have permission from the cardholder. When making your reservation, please indicate in the "Special requests/notes" box that you are using someone else's card with the cardholder's permission. The property may request a permit from the card holder. Please note that in cases of no-show and late cancellation, all penalties will be deducted from the card provided when making the reservation.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Why was I charged?</b>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The charges you see may be due to one of the following:
                Pre-authorization: Pre-authorization is the process of temporarily blocking a fee close to your reservation amount from your credit card. After a certain period of time, the blockage on this amount will be lifted. This period varies depending on the property and your credit card provider.
                Deposit or Prepayment: Some properties require a deposit or prepayment at the time of booking. This will be clearly stated during the booking process and will be visible in your confirmation email. If there is a free cancellation option, this amount will be refunded when you cancel your booking.
                If you need help with a payment issue, our Customer Service team is always here for you. To contact us, you can go to booking.com/help.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>Is my credit card information safe?</b>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Yes, always. Booking.com uses a secure connection. Your personal data and credit card information are encrypted.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--6-->

  <div class="accordion accordion-flush" id="accordionFlushExample6">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          <b>6-Facility conditions</b>
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
        data-bs-parent="#accordionFlushExample6">
        <div class="accordion-body">
          <h6>I want to check out after the specified check-out time. What should I do for this?</h6>
          Upon arrival, you can inquire from the property about arranging late check-out. Please note that this is subject to availability during your stay.
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>What are the check-in and check-out times of the facilities?</b>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Check-in and check-out times vary for each property. You can find these hours in the "Facility Rules" section on the property page when making a reservation. If you have already made a reservation, you can find the check-in and check-out times in your confirmation email and view them by logging into your account.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>I want a smoking room but I can only choose non-smoking rooms. How can I request a smoking room?</b>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                If there is no smoking room, it means the hotel does not allow smoking in the rooms.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>How can I find out if the property allows pets?</b>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Pet policies are always located under the "Property rules" section on the property page.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--7-->

  <div class="accordion accordion-flush" id="accordionFlushExample7">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
          <b>7-Additional facilities</b>
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
        data-bs-parent="#accordionFlushExample7">
        <div class="accordion-body">
          <h6>How can I find out if there is parking at the facility and how can I reserve a spot?</h6>
          You can see whether the facility has parking facilities under the "Features" section before making a reservation. If the property requires you to reserve a space, please contact the property directly using the contact information provided on your booking confirmation.
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <b>Where can I find out if the property has a certain feature (e.g. elevator)?</b>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Under the "Features" section on the property page, you can see the entire list of features, activities and services of the property.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Where can I find out if the facility offers a transfer service and how can I reserve a place in this service?</b>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                If the property offers a transfer service, this will be stated under the "Amenities" section. After booking, you can arrange airport transfer directly with the property. You can find the property's contact information on your booking confirmation. Please remember to have your flight information ready as it will be necessary for the driver to find you at the airport.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>Can the property store my luggage before check-in or after check-out?</b>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                If the property has luggage storage, you will see this under the "Amenities" section on the property page. For more information about luggage storage, please contact the property directly using the contact details provided in your booking.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--8-->

  <div class="accordion accordion-flush" id="accordionFlushExample8">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
          <b>8-Security and awareness</b>
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
        data-bs-parent="#accordionFlushExample8">
        <div class="accordion-body">
          <h6>I was recently asked over the phone to pay using my gift card. Is this normal?</h6>
          Booking.com will never ask you to share a credit card or gift card number over the phone. In fact, no matter the reason, if anyone asks you to pay with a gift card or share a credit card over the phone, it's likely a sign of fraud.
        </div>
      </div>
    </div>
  </div>



</div>
</div>

</div>
