.text-outline {
  color: black;
  text-shadow:
    -1px -1px 0 orange,
    1px -1px 0 orange,
    -1px 1px 0 rgb(246, 178, 52),
    1px 1px 0 orange;
}

.text-outline {
  color: black;
  text-shadow:
    -1px -1px 0 orange,
    1px -1px 0 orange,
    -1px 1px 0 rgb(246, 178, 52),
    1px 1px 0 orange;
}